#nav-menu ul{
	list-style-type:none;
	margin: 0px auto;
	padding: 3px 0px;
	width: 980px;
}

#nav-menu ul li{
	display:inline-block;
	font-size: 1.35em;
	font-weight: bold;
}

#nav-menu ul li a{
	border-right: 2px solid #175C6E;
	padding: 0px 10px;
}

#nav-menu ul li#login{
	display: none;
}

#nav-menu ul li:hover{
	background-image: -moz-linear-gradient(bottom, #044669 0%, #0C344F 100%);
}

#nav-menu ul li a{
	color: inherit;
	text-decoration: none;
}
